body, p, table, tr, td {
  direction:rtl!important;
}

h1 {
    font-family: sans-serif;
    font-size: 48px;
}

h2 {
    font-family: sans-serif;
    font-size: 42px;
}

h3 {
    font-family: sans-serif;
    font-size: 36px;
}

p {
    font-family: 'David Libre';
    font-size: 28px;
}

.arabic-head {
    font-family: 'Aref Ruqaa';
    font-style: normal;
}

.arabic-text {
    font-family: 'Amiri';
}

.ltr {
  direction:ltr!important;
  text-align:left!important;
}

.rle {
  direction:rtl!important;
  unicode-bidi:embed!important;
}

.lre {
  direction:ltr!important;
  unicode-bidi:embed!important;
}

.status {
  text-align:left;
  direction:ltr;
}

body {
  font-family: sans-serif;
}

table, tr, td {
  text-align: right!important;
}

